html {
    font-family: shabnam;
}
body {
    margin: 0;
  }
  .container {
    height: 100vh;
    background-image: linear-gradient(to top right, #0069CC 0%, #F5C000 100%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    display: flex;
    background-color: rgb(243, 243, 243);
    width: 80%;
    height: 85vh;
    border-radius: 4.5rem;
    padding: 1.3% 1.5%;
  }
  .title {
      text-align: center;
      color: #054684;
      font-size: 4.5vw;
  }


  
  










  .userpass {
    font-size: 1.8vw;
    flex-direction: column;
    margin-right: 1vw;
    margin-top: 2vh;
    display: flex;
    background-color: rgb(170, 170, 170);
    width: 40%;
    height: 77vh;
    border-radius: 4.5rem;
    padding: 1.3% 1.5%;
  }
  input{
      display: fixed;
    font-family: shabnam;    
    font-size: 1.8vw;
  }
  button {
      font-size: 1.8vw;
      justify-content: center;
      align-items: center;
      font-family: shabnam;   
      margin-top: 1vh;
      border-radius: 1.25rem;
      height: 6.5vh;
      width: 31vw;
      display: flex;
  }
 